.Field {
    width: 18vw;
    height: 18vw;
    max-width: 150px;
    max-height: 150px;
    cursor: pointer;
}

.XFieldBackground {
    background-image: url('../../../assets/xo-icons.png');
    background-size: cover;
}

.OFieldBackground {
    background-image: url('../../../assets/xo-icons.png');
    background-size: cover;
    background-position: 100%;
}

.NoBackground {
    background-image: unset;
}

.Field_1 {

}

.Field_2 {
    border-right: 3px solid black;
    border-left: 3px solid black;
}

.Field_3 {

}

.Field_4 {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.Field_5 {
    border: 3px solid black;
}

.Field_6 {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.Field_7 {

}

.Field_8 {
    border-right: 3px solid black;
    border-left: 3px solid black;
}

.Field_9 {

}
